
.box {
    border: 1px solid orange;
    width: 300px;
    height: 200px;
    font-size: 16pt;
    margin-right: 5%;
    margin-top: 2%;
    text-align: center;
display:inline-block;

}

.checkbox {
    
  position:relative;
  margin-right:85%;
  margin-top:1%;
}
.SwitchButton {
    border-color: red;
    background-color: red;
    position: absolute;
    border-radius: 5%;
    border-style: solid;
    position: absolute;
    right: 12%;
    top:6%;
    display: block;
    width: 80px;
    height: 40px;
    text-align: center;
    color: white;
}
.SwitchButton:hover {
    background-color: darkred;
}

.SwitchButton:active {
    background-color: black;
}

.ApplyButton {
    border-color: green;
    position: absolute;
    border-radius: 5%;
    border-style: solid;
    top: 6%;
    right: 5%;
    width: 80px;
    height: 40px;
    text-align: center;
    background-color: green;
    color: white;
    display: block;
}
.ApplyButton:hover{
    background-color:darkgreen;
}
.ApplyButton:active{
    background-color:black;
}
